.main-button-cart
    font-size: 11px
    line-height: 13px
    border: 1px solid $site-tcolor-grey
    height: 35px
    width: 100px
    color: $site-tcolor-darkgrey
    text-transform: $text-t-upp
    text-align: center
    margin-top: 23px
    margin-bottom: 57px

.main-cart-price
    padding: 43px 39px 43px 42px
    background: #F5F3F3
    width: 360px

.cart-text_price-mini
    font-size: 11px
    line-height: 13px
    color: #4A4A4A
    text-align: right
    margin-bottom: 12px

.cart-text_price
    font-size: 16px
    line-height: 19px
    color: $site-bcolor-dark
    text-align: right
